
#tabl{
  width: 50%;
    margin: 0 auto;
    margin-top: 5%;
    text-align: center;
}
table {
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 4px;
}
.InputClass{
  border: none;
}
.Button-class{
  width: 144px;
  height: 37px;
  margin: 0 auto;
  display: block;
  margin-top: 1%;
  background: none;
  border: 1px grey solid;
  border-radius: 8px;
}
.inputPlus{
  border: none;
}
.Button-Delete-Edite{
  background: none;
  border: 1px black solid;
  border-radius: 8px;
  width: 84px;
}
.modal-change{
  display: block;
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
}
.img-class{
  width: 15px;
    height: 15px;
    margin-left: 6px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
